<!DOCTYPE html>
<html>
<head>
	<title>edit</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<form action="/update/{{data.id}}">

	{% csrf_token %}

Name :		<input type="text" name="name" value= "{{data.name}}" required>
Father Name:<input type="text" name="fname" value= "{{data.fname}}" required>
Mother Name:<input type="text" name="mname" value= "{{data.mname}}" required>
Age: 		<input type="text" name="age" value= "{{data.age}}" required>
	 		<input type="submit" value="Save">
	 		<input type="reset" value="Reset">

</form>



 
</body>
</html>